In [93]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as sk
from pandas import Series,DataFrame
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn.linear_model import LogisticRegression

In [17]:
os.getcwd()
print(os.listdir(os.getcwd()))

['heart_failure_clinical_records_dataset.csv', 'ex2.ipynb', '.ipynb_checkpoints']

Selecting and retriveing data

In [53]:
df = pd.read_csv("heart_failure_clinical_records_dataset.csv")
df.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [54]:
df.shape

(299, 13)

In [55]:
df.isnull().sum()

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
DEATH_EVENT                 0
dtype: int64

In [57]:
df = df.dropna(how = 'any')

<h2>Arrange Data into Features Matrix and Target Vector</h2>

In [103]:
feature_names=df.loc[:,['diabetes','smoking','anaemia','high_blood_pressure']].values
feature_names.shape

(299, 4)

In [105]:
target = df.loc[:,'DEATH_EVENT']
target.shape
y_true=target

In [107]:
clf = LogisticRegression(random_state=0).fit(feature_names, target)

In [106]:
y_pred=clf.predict(feature_names)

<h4>Linear Regression</h4>

In [65]:
reg = LinearRegression(fit_intercept=True)

In [68]:
reg.fit(feature_names,target)

LinearRegression()

In [80]:
pred=reg.predict(feature_names[0:10])

<h4>Measuring Model Performance</h4>

In [72]:
score = reg.score(feature_names,target)
print(score)

0.004422473549298256

In [7]:
data.describe().T.sort_values(ascending = 0,by = "mean").style.background_gradient(cmap = "BuGn")\
.bar(subset = ["std"], color ="red").bar(subset = ["mean"], color ="blue")

In [109]:
confusion_matrix(y_true, y_pred)

array([[203,   0],
       [ 96,   0]])


# Figuring out missing values

In [9]:
missing = np.nan
print(data.keys())

Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time',
       'DEATH_EVENT'],
      dtype='object')

In [22]:
print(data.columns[1],"\n",data['anaemia'])

anaemia
 0      0
1      0
2      0
3      1
4      1
      ..
294    0
295    0
296    0
297    0
298    0
Name: anaemia, Length: 299, dtype: int64

In [113]:

X_train, X_test, y_train, y_test = train_test_split(
     target,feature_names, random_state=0)

In [114]:
type(X_train)

pandas.core.series.Series

In [115]:
print("X_train shape: {}".format(X_train.shape)) 
print("y_train shape: {}".format(y_train.shape))
print("X_test shape: {}".format(X_test.shape)) 
print("y_test shape: {}".format(y_test.shape))

X_train shape: (224,)
y_train shape: (224, 4)
X_test shape: (75,)
y_test shape: (75, 4)

In [116]:
knn = KNeighborsClassifier(n_neighbors=1) # creat an object knn (your model)

In [117]:
knn.fit(X_train, y_train)

ValueError: Expected 2D array, got 1D array instead:
array=[0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 1 1 0 0 1 0 0 0 0 0 0 1 0 0
 0 0 0 1 1 0 1 1 1 0 1 0 1 0 0 0 0 1 0 0 1 1 0 0 0 0 1 0 1 0 0 1 0 0 1 1 0
 0 0 1 0 0 0 0 1 1 0 0 0 0 1 0 1 1 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 1 0 0 1 0 1 1 0 0 0 0 0 1 1 1 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 1 1 0 1
 0 0 1 0 0 0 0 0 1 0 1 1 0 1 0 0 0 1 1 0 0 1 1 1 0 0 1 1 0 0 0 1 1 0 0 1 1
 1 0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 1 0 0 0 0 0 0 0 1 1 0 0 0
 1 0].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [61]:
data.corr()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
age,1.000000,0.088006,-0.081584,-0.101012,0.060098,0.093289,-0.052354,0.159187,-0.045966,0.065430,0.018668,-0.224068,0.253729
anaemia,0.088006,1.000000,-0.190741,-0.012729,0.031557,0.038182,-0.043786,0.052174,0.041882,-0.094769,-0.107290,-0.141414,0.066270
creatinine_phosphokinase,-0.081584,-0.190741,1.000000,-0.009639,-0.044080,-0.070590,0.024463,-0.016408,0.059550,0.079791,0.002421,-0.009346,0.062728
diabetes,-0.101012,-0.012729,-0.009639,1.000000,-0.004850,-0.012732,0.092193,-0.046975,-0.089551,-0.157730,-0.147173,0.033726,-0.001943
ejection_fraction,0.060098,0.031557,-0.044080,-0.004850,1.000000,0.024445,0.072177,-0.011302,0.175902,-0.148386,-0.067315,0.041729,-0.268603
high_blood_pressure,0.093289,0.038182,-0.070590,-0.012732,0.024445,1.000000,0.049963,-0.004935,0.037109,-0.104615,-0.055711,-0.196439,0.079351
platelets,-0.052354,-0.043786,0.024463,0.092193,0.072177,0.049963,1.000000,-0.041198,0.062125,-0.125120,0.028234,0.010514,-0.049139
serum_creatinine,0.159187,0.052174,-0.016408,-0.046975,-0.011302,-0.004935,-0.041198,1.000000,-0.189095,0.006970,-0.027414,-0.149315,0.294278
serum_sodium,-0.045966,0.041882,0.059550,-0.089551,0.175902,0.037109,0.062125,-0.189095,1.000000,-0.027566,0.004813,0.087640,-0.195204
sex,0.065430,-0.094769,0.079791,-0.157730,-0.148386,-0.104615,-0.125120,0.006970,-0.027566,1.000000,0.445892,-0.015608,-0.004316
smoking,0.018668,-0.107290,0.002421,-0.147173,-0.067315,-0.055711,0.028234,-0.027414,0.004813,0.445892,1.000000,-0.022839,-0.012623
time,-0.224068,-0.141414,-0.009346,0.033726,0.041729,-0.196439,0.010514,-0.149315,0.087640,-0.015608,-0.022839,1.000000,-0.526964
DEATH_EVENT,0.253729,0.066270,0.062728,-0.001943,-0.268603,0.079351,-0.049139,0.294278,-0.195204,-0.004316,-0.012623,-0.526964,1.000000

In [74]:
print("Test set score: {:.2f}".format(knn.score(X_test, y_test)))

Test set score: 0.53

In [81]:
data.corr()['anaemia']

age                         0.088006
anaemia                     1.000000
creatinine_phosphokinase   -0.190741
diabetes                   -0.012729
ejection_fraction           0.031557
high_blood_pressure         0.038182
platelets                  -0.043786
serum_creatinine            0.052174
serum_sodium                0.041882
sex                        -0.094769
smoking                    -0.107290
time                       -0.141414
DEATH_EVENT                 0.066270
Name: anaemia, dtype: float64

In [82]:
data.corr()['diabetes']

age                        -0.101012
anaemia                    -0.012729
creatinine_phosphokinase   -0.009639
diabetes                    1.000000
ejection_fraction          -0.004850
high_blood_pressure        -0.012732
platelets                   0.092193
serum_creatinine           -0.046975
serum_sodium               -0.089551
sex                        -0.157730
smoking                    -0.147173
time                        0.033726
DEATH_EVENT                -0.001943
Name: diabetes, dtype: float64